@use "../../general/" as *;

#members-list {
        border-top: 2px solid var(--sp-primary);
    
        li {
            border-top: 0;
            border-bottom: 0;

             .list-wrap {
                display: flex;

                .item-avatar a img {
                    max-width: 70px;
                }
                
                .item  {
                    .item-block {
                        width: 100%;
                        display: flex;
                        justify-items: start;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-left: 1rem;

                        h2 {
                            margin-top: 2px;
                        }

                        h2, p {
                            text-align: left;
                            width: 100%;
                        }
    
                        .action
                        {
                            padding-left: 0;

                            li button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    
        @media (width > $md) {
                border-top: 2px solid var(--sp-primary);
                display: grid;
                grid-template-columns: repeat(2, 1fr) ;
        }
    
        @media (width > $lg) { 
            grid-template-columns: repeat(3, 1fr);
        }
    
        @media (width > $xl) {
                grid-template-columns: repeat(4, 1fr) ;
        }
    }
