.select-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-color: var(--sp-border-dark);
        padding: .5rem 1rem;

        select {
            color: white;

            * {
                color: black;
            }
        }
    }
