.screen-content {
    .subnav-filters.filters {
        .subnav-search {
            .members-search.bp-search {
                form.bp-dir-search-form {
                    border: none !important;
                }
            }
        }

    }
    
    .bp-list.members-list {
        border-top: 2px solid var(--sp-primary);
    
        li {
            border-top: 0;
            border-bottom: 0;
        }
    
    }

}    

