@use "../general/" as *;

.mobile-menu {
    .dropdown > span > button {
        border-left: none;
    }

    .header-close-menu {

    }

    ul.menu-wrap {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        li {
            border: none !important;
        }

        li.menu-item {
            a.nav-link {
                background: var(--sp-secondary2);
            }

            span.mobile-toggler {
                max-width: none;
                position: absolute;
                width: 100%;
                // opacity: 0;
                text-align: right;
        
                button {
                    justify-content: end;
                    padding-right: 1rem;
                }
            }

            // Toggle list active
            &.current {
                a.nav-link {
                    background: transparent;
                    z-index: 1;
                    color: var(--sp-primary-light);
                    // text-align: center;
                    margin-left: 3rem;
                    pointer-events: none;
                }

                span.mobile-toggler { 
                    background: var(--sp-gradient1) !important;
                    color: var(--sp-primary-light);

                }
            }

        }

    }
}