@use "../general/" as *;


@media (width < $lg)
{
    ul.main-header-menu{
        background: transparent !important;
        min-height: 100vh !important;
        flex-direction: column;
    
        li.menu-item {
            background: transparent !important;
            width: unset !important;
    
            button.ast-menu-toggle {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: transparent !important;
            }
    
            a.menu-link {
                border: 2px solid white;
                background-color: transparent !important;
            }

    
            ul.sub-menu {
                li.menu-item {
                    a.menu-link {
                        border: none !important;

                        span.ast-icon {
                            display: none !important;
                        }   
                    }
                }
            }


 
            &.ast-submenu-expanded {
                ul.sub-menu {
                    animation: expandHeight 3s forwards;

                    opacity: 1;
                }
            }
        }
    }
}
